.nav-ul {
  text-align: end;
}

.nav-section {
  padding: 20px 0px;
  margin: 0px;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;

}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  user-select: auto;
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.register,
.product {
  margin-left: 30%;
}

.login {
  margin-left: 35%;
  margin-top: 100px;
}

input.inputBox {
  padding: 10px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

button.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 520%;
  float: left;
  margin-left: 18px;
}

.invalid-input {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.products-list {
  text-align: center;
  margin-top: 50px;
}

.products-list ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.products-list ul {
  margin: 0;
}

.search-product-box {
  width: 400px;
  margin: 20px;
  height: 38px;
  padding-left: 30px;
  border: 1px solid skyblue;
}

.no-product-found {
  color: red;
}